Checks: >
  -*,
  bugprone-*,
  #TODO investigate clang-tidy segfault when using clang-analyzer* checks
  #clang-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-exception-escape,
  -bugprone-switch-missing-default-case,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -bugprone-assignment-in-if-condition,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-do-while,
  -readability-named-parameter,
  -performance-unnecessary-value-param,
  -bugprone-easily-swappable-parameters,
  -readability-qualified-auto,
  -bugprone-unchecked-optional-access
WarningsAsErrors: '*'
FormatStyle: none
HeaderFilterRegex: ''
SystemHeaders: false
