BasedOnStyle: Google
ColumnLimit: 100
InsertTrailingCommas: Wrapped
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBinaryOperators: All
AlignOperands: Align
AlignAfterOpenBracket: BlockIndent
